*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background: #001f3f;
}

/* Put a selector here to select div elements (see index.html). */
div {
  font-family: sans;
  font-size: 5rem;
  line-height: 4rem;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 25px;
  margin: 0 0 25px 0;

  /* Set the height and the width of the box to 150px. */
  height: 150px;
  width: 150px;
  /* Make the background color "hotpink". */
  background-color: hotpink;
  /* Make the text color "white". */
  color: white;
  /* Can you give the box round edges with a radius of 8px? */
  border-radius: 25px;
  box-shadow: 1px 1px 0 4px black;
  /* ✨ Feel free to experiment! */
}
