*,
*::before,
*::after {
  box-sizing: border-box;
}

.park {
  margin: 16px;
  border: 2px dashed silver;
  overflow: hidden;
  border-radius: 8px;
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
}
line {
  width: 100%;
  display: flex;
  justify-content: start;
}

.animal {
  padding: 30px;
  margin: 20px;
  font-size: 100px;
  cursor: pointer;
  border: 5px solid white;
  border-radius: 111px;
}
line:has(.giraffe) {
  justify-content: center;
}
line:has(.dino) {
  justify-content: end;
}

.crocodile:hover {
  background-color: lightblue;
}
.giraffe:hover {
  background-color: lightgreen;
}
.dino:hover {
  background-color: lightsalmon;
}
